html, body {
    background-color: #808080;
}

#tierra_container {
    text-align: center;
}

#score {
    display: none;
    text-align: center;
}

#playground {
    text-align: center;
}

#countdown {
    text-align: center;
}

#timer {
    text-align: center;
}

#start {
    font-family: 'Faster One', Georgia, serif;
    font-size: 2em;
    text-align: center;
}

#reiniciar {
    display: none;
    font-family: 'Faster One', Georgia, serif;
    font-size: 2em;
    text-align: center;
}

#titulo {
    font-size: 3em;
    font-family: 'Faster One', Georgia, serif;
    color: #054b00;
    text-align: center;
}

span {
    font-size: 2em;
    font-family: 'Faster One', Georgia, serif;
}
