html, body {
    background-color: #808080;
}

@font-face {
  font-family: "Bubblegum";
  src: url(../fonts/Bubblegum.ttf) format("truetype");
}

#tierra_container {
    text-align: center;
}

#score {
    display: none;
    text-align: center;
    font-size: 2em;
    font-family: 'Bubblegum', Georgia, serif;
}

#playground {
    text-align: center;
}

#segundos {
    display: inline;
    color: #CB2BBE;
}

#nombre {
    font-size: 2em;
    font-family: 'Bubblegum', Georgia, serif;
    color: #CB2BBE;
    display: none;
    text-align: center;
}

#conteo-final {
    display: inline;
    color: #f00;
}

#countdown {
    text-align: center;
    font-size: 2em;
    font-family: 'Bubblegum', Georgia, serif;
}

#timer {
    text-align: center;
}

#start, #puntajes {
    font-family: 'Bubblegum', Georgia, serif;
    font-size: 2em;
    text-align: center;
}

#reiniciar {
    display: none;
    font-family: 'Bubblegum', Georgia, serif;
    font-size: 2em;
    text-align: center;
}

#titulo {
    font-size: 3em;
    font-family: 'Bubblegum', Georgia, serif;
    color: #054b00;
    text-align: center;
}

.credito, .jugador {
    font-family: 'Bubblegum', Georgia, serif;
    color: #CB2BBE;
    text-align: center;
    font-size: x-large;
}

span {
    font-size: 2em;
    font-family: 'Bubblegum', Georgia, serif;
}
